<script>
// TODO push searches into an array and then loop over the array and abort when new search is preformed.
// TODO concatinate data that is returned into a new giant object.

  // var searches = null;

  $('.search-btn').on('click', function(){
    $('.target').html('');
    var searchArray = $('.input-group-field[type="search"]').val().replace(/ /g, '').replace(/,\s*$/, '').split(',');
    search_ajax(searchArray);
  });
  $('.input-group-field[type="search"]').on('keyup', function(event){
    key_presses(event);
  });

  function search_ajax(searchArray){

    if(searchArray != ''){

      var searchTerm = searchArray.shift();

      // if(searches){
      //   searches.abort();
      //   console.log('aborted');
      // }
      searches = $.ajax({
        type: 'GET',
        url: '/search',
        dataType: 'json',
        beforeSend: function(){ $('.searching').remove(); $('.input-group-field[type="search"]').before('<span class="searching" style="position: absolute; top:-25px;">searching...</span>'); },
        complete: function(){ $('.searching').remove(); },
        data: {
          view: 'search-json',
          q: searchTerm+'*'
        },
        success: function(){
          search_ajax(searchArray);
        },
        error: function(error){
          console.error('an error has occured: ' + error);
        }
      }).then(function(data){
        var searchResults = data.results,
        searchTitles = data.title.replace('*', '').trim();
        generate_results(searchResults, searchTitles);
      });
    }
  }

  function generate_results(searchResults, searchTitles){
    var noResults = true;
    var resultItems = $('<ul><li><h4>'+searchTitles+'</h4></li></ul>');
    if(searchResults.length > 0){
      var resultElemets = $.map(searchResults, function(items, index) {
        noResults = false;
        $('<li><a href="'+items.url+'"><img src="'+items.image+'"/><div>'+items.title+'</div><div>'+items.price+'</div></a></li>').appendTo(resultItems);
        return resultItems;
      });
    }
    if(noResults){
      $('.target').append($('<ul><li><h4 class="no-result">Sorry, we couldn\'t find anything.</h4></li></ul>'));
    }
    else{
      $('.target').append(resultElemets);
    }
  }

  function key_presses(event){
    if(event.which == 27){
      $('.input-group-field[type="search"]').blur();
    }
    else if(event.which == 13){
      $('.target').html('');
      $('.search-btn').trigger('click');
    }
  }

</script>
