<script>

  var resultArray = [],
      searchTitles;

  $(document).on('click', '.search-btn', function(){
    $('.target').html('');
    var searchArray = $('.input-group-field[type="search"]').val().replace(/ /g, '').replace(/,\s*$/, '').split(','),
        searchTitles = searchArray.join().split(',');
    $.when(search_ajax(searchArray)).then(result_titles(searchTitles));
  });
  $('.input-group-field[type="search"]').on('keyup', function(event){
    key_presses(event);
  });

  function search_ajax(searchArray){

    if(searchArray != ''){

      var searchTerm = searchArray.shift();

      $.ajax({
        type: 'GET',
        url: '/search',
        dataType: 'json',
        async: false,
        beforeSend: function(){ $('.input-group-field[type="search"]').before('<span class="searching">searching...</span>'); },
        complete: function(){ $('.searching').remove(); },
        data: {
          view: 'search-json',
          q: searchTerm+'*'
        },
        success: function(data){
          resultArray.push(data);
          var searchResults = data.results;
          search_ajax(searchArray);
          generate_results(searchResults);
        },
        error: function(error){
          console.error(error);
        }
      });
    }
  }

  function result_titles(searchTitles){
    $.each(searchTitles, function(indx, title){
      $.each($('.target ul'), function(index, item){
        if(index == indx){
          $(item).prepend('<li><h4>'+title.toUpperCase()+'</h4></li>');
        }
      });
    });
  }

  function generate_results(searchResults){
    var noResults = true;
    var resultItems = $('<ul></ul>');
    if(searchResults.length > 0){
      var resultElemets = $.map(searchResults, function(items, index) {
        noResults = false;
        $('<li><a href="'+items.url+'"><img src="'+items.image+'"/><div>'+items.title+'</div><div>'+items.price+'</div></a></li>').appendTo(resultItems);
        return resultItems;
      });
    }
    if(noResults){
      $('.target').append($('<ul><li><h4 class="no-result">Sorry, we couldn\'t find anything.</h4></li></ul>'));
    }
    else{
      $('.target').prepend(resultElemets);
    }
  }

  function key_presses(event){
    if(event.which == 27){
      $('.input-group-field[type="search"]').blur();
    }
    else if(event.which == 13){
      $('.target').html('');
      $('.search-btn').trigger('click');
    }
  }

</script>
